<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.ocbc.spring.mvc.maping.BeanNameUrlHandlerMapping"/>
    <bean class="com.ocbc.spring.mvc.maping.SimpleUrlHandlerMapping"/>
    <bean class="com.ocbc.spring.mvc.maping.RequestMappingHandlerMapping"/>

    <bean class="com.ocbc.spring.mvc.adapter.SimpleControllerHandlerAdapter"/>
    <bean class="com.ocbc.spring.mvc.adapter.HttpRequestHandlerAdapter"/>
    <bean class="com.ocbc.spring.mvc.adapter.RequestMappingHandlerAdapter"/>

    <bean name="/queryUser" class="com.ocbc.spring.handler.QueryUserHandler"/>
    <bean name="/saveUser" class="com.ocbc.spring.handler.SaveUserHandler"/>
    <bean  class="com.ocbc.spring.controller.UserController"/>


</beans>